body {    
    font-family: Arial, san-serif;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    background: rgb(114, 141, 64);
}

.header {
    background: rgb(56, 77, 18);
    margin: 0;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    font-family: 'VT323', monospace, sans-serif;
    font-size: 96px;
    line-height: 100px;
    margin: 0;
}

.controls {
    display: flex; 
    align-items: center;
    margin: 10px;
}

.controls input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background: rgb(114, 141, 64);
    margin: 10px;
    margin-right: 20px;
    margin-left: 5px;
    padding: 10px;
}

.pick-a-color-controls input {
    height: 30px;
    padding: 0px;
}

.create-table-controls .btn:hover {
    background: rgb(18, 24, 7);
}

.canvas {
    margin: 10px;
    min-height: 500px;
}

table {
    border-collapse: collapse; 
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}